{
  "branches": [
    "main",
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          { "type": "build", "scope": "Needs bump", "release": "patch" }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "printf 'version = ${nextRelease.version}\\n' > gradle.properties && ../gradlew --no-daemon --stacktrace --info :app:assembleRelease -PsignAsDebug -PmanagerVersion=${nextRelease.version} -PmanagerBuildLabel=v${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "gradle.properties"
        ],
        "message": "chore: Release v${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "build/outputs/apk/release/revanced-manager*.apk?(.asc)"
          }
        ],
        "successComment": false
      }
    ]
  ]
}
